<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Albini</title>
</head>
<header class="text-center">
    <h1 class="titulo">Lista de alumnos</h1>
</header>
<body class="text-center">
    <div *ngFor="let estudiante of estudiantes">
        <p  [ngClass]="estudiante.nota>4 ? 'aprobo' : 'reprobo'">
            {{estudiante.nombre}}. Nota: {{estudiante.nota}}
           
        </p>
        <div>
           Fecha de inicio de cursada: {{fechaInicio | date }}
        </div>
    </div>

</body>

</html>
