.aprobo{
    background-color: rgba(0, 128, 0, 0.587);
}
.reprobo{
    background-color: rgba(255, 0, 0, 0.435);
}
body{
    background-color: rgb(213, 255, 255);
}
.titulo{
    color: rgba(255, 255, 255, 0.609);
    background-color: rgb(8, 7, 7);
}