$textcolor: darkblue;
$fontsize: 10px;

.formulario {
  font-size: $fontsize;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(70, 127, 249, 0.635);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(5, 1, 240, 0.834);
  border-radius: 10px;
}

