$bgcolor: rgb(0, 95, 127);
$textcolor: darkblue;
$fontsize: 20px;

.formulario {
    background: url('https://img.freepik.com/free-vector/back-school-doodle-sketch-cartoon-seamless-pattern_221062-914.jpg?w=2000') no-repeat center center fixed;
  color: $textcolor;
  font-size: $fontsize;
}